
<h5>Filrer par categorie</h5>
<div class="" id="navbarSupportedContent">
	<ul class="nav flex-column">
		{% for categorie in categories %}
			<li class="nav-item">
				<a class="nav-link" href="affichebyCategory.php?categorie={{categorie.id}}">{{ categorie.libelle }}</a>
			</li>
		{% endfor %}
	</ul>
</div>
