<nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
	<div class="container px-4 px-lg-5">
		<a class="navbar-brand" href="\">Blogs d'Alex</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
			Menu
			<i class="fas fa-bars"></i>
		</button>
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav ms-auto py-4 py-lg-0">
				<li class="nav-item">
					<a class="nav-link px-lg-3 py-3 py-lg-4" href="/">Home</a>
				</li>
				{% if not user_connecte %}
					<li class="nav-item">
						<a class="nav-link px-lg-3 py-3 py-lg-4" href="/register">Inscription</a>
					</li>
					<li class="nav-item">
						<a class="nav-link px-lg-3 py-3 py-lg-4" href="/connexion">Connexion</a>
					</li>
				{% endif %}
				<li class="nav-item">
					<a class="nav-link px-lg-3 py-3 py-lg-4" href="/contact.php">Me contacter</a>
				</li>
				{% if user %}
					<div class="dropdown">
						<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
							<i class="fa-solid fa-user"></i>
							{{user.pseudo}}
						</button>
						<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
							{% if user.isadmin %}
								<li>
									<a class="nav-link px-lg-3 py-3 py-lg-4" href="/addPost.php">Ajouter un Post</a>
								</li>
								<li>
									<a class="nav-link px-lg-3 py-3 py-lg-4" href="/administration.php">Commentaires en attente</a>
								</li>
							{% endif %}
							<li>
								<a class="nav-link px-lg-3 py-3 py-lg-4" href="/deconnexion">Déconnexion</a>
							</li>
						</ul>
					</div>
				{% endif %}
			</ul>
		</div>
	</div>
</nav>
<header class="masthead" style="background-image: url('../assets/img/home-bg.jpg')">
	<div class="container position-relative px-4 px-lg-5">
		<div class="row gx-4 gx-lg-5 justify-content-center">
			<div class="col-md-10 col-lg-8 col-xl-7">
				<div class="site-heading">
					<h1>Alexis Mathiot</h1>
					<span class="subheading">Actualité scientifique, informatique et jeux vidéo</span>
				</div>
			</div>
		</div>
	</div>
</header>
