{% extends "base.twig" %}

{% block title %}Ajouter un Post{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-6">
                <form action="../addPost.php" method="post">
                    <div class="mb-3">
                        <label for="" class="form-label">Adresse email</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" name="titre"
                               aria-describedby="emailHelp" placeholder="titre du post">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInput" class="form-label">Nom</label>
                        <input type="text" class="form-control" id="exampleInput" name="name"
                               aria-describedby="pseudoHelp">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInput" class="form-label">Pseudo</label>
                        <input type="text" class="form-control" id="exampleInput" name="pseudo"
                               aria-describedby="pseudoHelp">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Mots de passe</label>
                        <input type="password" class="form-control" name="password" id="exampleInputPassword1">
                    </div>
                    <button type="submit" class="btn btn-primary">Envoyer</button>
                </form>
            </div>
            <p>Déja inscrit ? <a href="/?p=connexion">Connectez-vous ici</a></p>
        </div>
    </div>
{% endblock %}
