<div class="error">
    <h1>Uune erreur s'est produite</h1>
    <div class="error-message">Message : {{ exception.message }}</div>
    <div class="error-stack">Pile d'execution : {{ exception.TraceAsString }}</div>
</div>